{% extends "template.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
{% endblock %}

{% block body %}
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="gianluparri03" required>

        <br>

        <label for="keep_logged">Keep me logged in</label>
        <input type="checkbox" name="keep_logged">

        <input type="submit" value="Login">
    </form>
{% endblock %}
