<!DOCTYPE html>

<html>
	<head>
		<title>AOC Share</title>

		<!-- Meta -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
		{% block css %}{% endblock %}

		<!-- JS -->
		{% if error %} <script> alert("{{ error }}"); </script> {% endif %}
		{% block js %}{% endblock %}
	</head>

	<body>
		{% if not login_page|default(false) %}
			<nav>
				<button onclick='location.href = "https://adventofcode.com/";'>AOC Website</button>

				<form action="/logout" method="POST">
					<input type="submit" value="Logout">
				</form>
			</nav>
		{% endif %}

		{% block body %}{% endblock %}
	</body>
</html>
