main {
	width: 100%;
	height: calc(100% - 61px);

	display: flex;
	align-items: center;
}

main > div {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.spacer { margin-top: 90px; }

table { border-collapse: collapse; }

#calendar-div {
	width: 40%;
	padding: 0 30px 0 31px;
	border-right: 1px solid var(--foreground);
}

#calendar-div span { margin-bottom: 18px; }

.calendar-cell {
	padding: 13px;
	border: 1px solid var(--foreground);

	text-align: center;
}

.calendar-cell:hover {
	background-color: var(--highlight);
	color: var(--background);

	cursor: pointer;
}

#leaderboard-div {
	width: 100%;
	padding: 0 50px;
	overflow: auto;
}

#leaderboard { width: 100%; }

#leaderboard tr { border-bottom: 1px solid; }

#user-row {
	background-color: var(--highlight);
	color: var(--background);
}

#leaderboard td { padding: 20px 10px 5px 10px; }

.leaderboard-position { width: 0; }

.leaderboard-points {
	float: right;

	font-weight: bold;
}
